{
  "root": true,
  "parser": "babel-eslint",
  "extends": [
    "react-app"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "app": true,
    "page": true,
    "browser": true,
    "jestPuppeteer": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-body-style": [
      "error",
      "as-needed"
    ],
    "camelcase": "off",
    "comma-dangle": [
      "warn",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "always-multiline"
      }
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "key-spacing": [
      "warn",
      {
        "singleLine": {
          "beforeColon": true,
          "afterColon": true
        },
        "multiLine": {
          "beforeColon": true,
          "afterColon": true,
          "align": "colon"
        }
      }
    ],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ],
    "no-nested-ternary": "off",
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "react/forbid-prop-types": [
      "error",
      {
        "forbid": [
          "any"
        ]
      }
    ],
    "react/jsx-curly-spacing": [
      "error",
      {
        "when": "never",
        "attributes": {
          "allowMultiline": true
        },
        "children": true,
        "spacing": {
          "objectLiterals": "never"
        }
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/prefer-stateless-function": [
      "warn",
      {
        "ignorePureComponents": true
      }
    ],
    "react/prop-types": [
      "warn",
      {
        "ignore": [
          "children",
          "className",
          "style",
          "intl"
        ]
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "switch-colon-spacing": [
      "error",
      {
        "after": false,
        "before": true
      }
    ]
  }
}
