{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-rational-order"
  ],
  rules: {
    "selector-pseudo-class-no-unknown": [true, {
      ignorePseudoClasses: ["global"]
    }],
    "property-no-unknown": [true, {
      ignoreProperties: ["font-range"]
    }]
  }
}
